name: ECS CI/CD Pipeline

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  ECR_REPO: 650080740886.dkr.ecr.us-east-1.amazonaws.com/predict-api
  ECS_CLUSTER: predict-service-cluster
  ECS_SERVICE: predict-service-service
  CONTAINER_NAME: fastapi
  TASK_DEFINITION_FAMILY: predict-service-task
  AWS_ACCOUNT_ID: 650080740886

jobs:
  ci:
    name: Build & Push Image to ECR
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/GitHubDeployRole
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker Image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t $ECR_REPO:$IMAGE_TAG .

    - name: Tag Image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker tag $ECR_REPO:$IMAGE_TAG $ECR_REPO:$IMAGE_TAG

    - name: Push Image to ECR
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker push ${{ steps.login-ecr.outputs.registry }}:${{ env.ECR_REPO }}:$IMAGE_TAG

    outputs:
      image: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO }}:${{ github.sha }}


  cd:
    name: Deploy to ECS Fargate
    runs-on: ubuntu-latest
    needs: ci

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/GitHubDeployRole
        aws-region: ${{ env.AWS_REGION }}

    - name: Download Task Definition
      run: |
        aws ecs describe-task-definition \
          --task-definition $TASK_DEFINITION_FAMILY \
          --query taskDefinition > task-def.json

    - name: Create new Task Definition revision with new image
      run: |
        IMAGE_URI="${{ needs.ci.outputs.image }}"
        cat task-def.json \
        | jq --arg IMG "$IMAGE_URI" \
          '.containerDefinitions[0].image = $IMG' \
        | jq 'del(.taskDefinitionArn, .revision, .status, .registeredAt, .registeredBy)' \
        > new-task-def.json

    - name: Register new Task Definition
      id: register_task
      run: |
        OUTPUT=$(aws ecs register-task-definition \
          --cli-input-json file://new-task-def.json)
        echo "$OUTPUT"
        ARN=$(echo "$OUTPUT" | jq -r '.taskDefinition.taskDefinitionArn')
        echo "taskdef_arn=$ARN" >> $GITHUB_OUTPUT

    - name: Update ECS Service to use new Task Definition
      run: |
        aws ecs update-service \
          --cluster $ECS_CLUSTER \
          --service $ECS_SERVICE \
          --task-definition ${{ steps.register_task.outputs.taskdef_arn }}

    - name: Wait for ECS Deployment to Stabilize
      run: |
        aws ecs wait services-stable \
          --cluster $ECS_CLUSTER \
          --services $ECS_SERVICE

    - name: Deployment Complete
      run: echo "ECS Deployment Successful!"
